<!DOCTYPE html>
<head>
  <title>文术科技demo</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>文术科技</h3>
  <form action="/" method="post">
    <input type="text" name="prompt" placeholder="请输入您的问题" required />
    <input type="submit" value="提交" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

<hr>

  <h4>聊天历史</h4>
  <ul>
    {% for item in history %}
    <li><strong>问题：</strong>{{ item.question }}</li>
    <li><strong>回答：</strong>{{ item.response }}</li>
    <br>
    {% endfor %}
  </ul>

  </ul>
</body>
